.first
{
  margin-top: 25px;
}

.aboutus_section2
{
  margin-top:150px;
}

.flex
{
  display: flex;
  width: 100%,
  align-items: center;
  justify-content: center;

}

.flex .item
{
  margin-left: 5%;
  margin-right: 5%;
  width: 250px;
  height: 250px;
  font-size: 14px;
  display: block;

}

.about_leading_intro
{
  text-align: center;
}

hr.star-light,
hr.star-primary {
  max-width: 250px;
  margin: 25px auto 30px;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 5px; }

hr.star-light:after,
hr.star-primary:after {
  font-family: FontAwesome;
  font-size: 2em;
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005'; }

hr.star-light {
  border-color: white; }

hr.star-light:after {
  color: white;
  background-color: #18BC9C; }

hr.star-primary {
  border-color: #2C3E50; }

hr.star-primary:after {
  color: #2C3E50;
  background-color: white; }
